[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/bundle/goyo"]
	path = .vim/bundle/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".vim/bundle/zenroom"]
	path = .vim/bundle/zenroom
	url = https://github.com/amix/vim-zenroom2.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/jedi"]
	path = .vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/slimux"]
	path = .vim/bundle/slimux
	url = https://github.com/epeli/slimux.git
[submodule ".vim/bundle/cntrlp"]
	path = .vim/bundle/cntrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/argwrap"]
	path = .vim/bundle/argwrap
	url = https://github.com/FooSoft/vim-argwrap.git
[submodule ".vim/bundle/ipy"]
	path = .vim/bundle/ipy
	url = https://github.com/ivanov/vim-ipython
